.normal-breadcrumb {
	height: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.breadcrumb_img {
    background-image: url("../assets/img/normal-breadcrumb.jpg");
    background-color: #0b0c2a;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -60px;
}
.normal__breadcrumb__text h2 {
	color: #ffffff;
	font-size: 48px;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	margin-bottom: 22px;
}

.normal__breadcrumb__text p {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 0;
}
